<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.gun2.beadalbujok.mapper.PointMapper">
    <insert id="insert">
        INSERT INTO point
        SET member_id = #{memberId},
            balance = #{balance},
            created_date = NOW(),
            updated_date = NOW()
    </insert>
    <update id="plusBalanceById">
        UPDATE point
            SET balance = balance + #{amount},
                updated_date = NOW()
        WHERE id = #{id}
    </update>

    <select id="findByMemberId" resultType="Point">
        SELECT *
        FROM point
        WHERE member_id = #{memberId}
    </select>
    <select id="findById" resultType="Point">
        SELECT *
        FROM point
        WHERE id = #{id}
    </select>
    <select id="findAll" resultType="Point">
        SELECT * FROM point;
    </select>
</mapper>
